<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Author</title>
  </head>
  <body>
    <header>
      <h1>Book Alchemy</h1>
      <h3>Add Author</h3>
      <!-- Navigation bar -->
      <nav>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_author') }}">Add Author</a></li>
        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
        </ul>
          </nav>
    </header>
  <!-- Success message -->
  {% if success_msg %}
    <p class="alert-success">{{ success_msg }}</p>
  {% endif %}

  <!-- Failure message -->
  {% if failure_msg %}
    <p class="alert-failure">{{ failure_msg }}</p>
  {% endif %}
  <div class="forms_author">
  <form action="/add_author" method="POST">
  <label for="name">Author Name:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="birth_date">Birthdate:</label>
  <input type="date" id="birth_date" name="birth_date" required><br><br>

  <label for="death_date">Date of Death:</label>
  <input type="date" id="death_date" name="death_date"><br><br>

  <input type="submit" value="Add Author">
  </form>
    </div>
    <footer>
    <p>&copy; 2024 Book Alchemy</p>
  </footer>

  </body>
</html>
