<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <header>
      <h1>Book Alchemy</h1>
      <h3>Add Book</h3>
          <!-- Navigation bar -->
      <nav>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_author') }}">Add Author</a></li>
        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
        <li><a href="{{ url_for('suggest_book') }}">Suggest Book</a></li>
        </ul>
          </nav>
    </header>
  <!-- Success message -->
  {% if success_msg %}
    <p class="alert-success">{{ success_msg }}</p>
  {% endif %}

  <!-- Failure message -->
  {% if failure_msg %}
    <p class="alert-failure">{{ failure_msg }}</p>
  {% endif %}

  <!-- Add a book code -->
      <div class="forms_book">
  <form action="/add_book" method="POST">
    <label for="title">Book's Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="isbn">Book's ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <label for="publication_year">Book's Year of release:</label>
    <input type="text" id="publication_year" name="publication_year"><br><br>

    <label for="rating">Rating (1-10):</label>
    <input type="number" id="rating" name="rating" min="1" max="10" required>

    <!-- Author id dropdown menu -->
    <label for="author_id">Choose Author:</label>
    <select id="author_id" name="author_id" required>
      <option value="" disabled selected>Choose an Author</option>
      {% for author in authors %}
          <option value="{{ author.id}}">{{ author.name }}</option>
      {% endfor %}
    </select><br><br>

    <input type="submit" value="Add Book">
  </form>
        </div>
    <footer>
    <p>&copy; 2024 Book Alchemy</p>
  </footer>

  </body>
</html>
