<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author.name }} - Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Book Alchemy</h1>
    <h3>Author Details</h3>
          <!-- Navigation bar -->
      <nav>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_author') }}">Add Author</a></li>
        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
        <li><a href="{{ url_for('suggest_book') }}">Suggest Book</a></li>
        </ul>
          </nav>
</header>
<div class="author_details">
    <h1>{{ author.name }}</h1>
    <p><strong>Birth Date:</strong> {{ author.birth_date }}</p>
    <p><strong>Death Date:</strong> {{ author.death_date or 'N/A' }}</p>
    <h2>Books by {{ author.name }}:</h2>
    <ul>
        {% for book in author.book %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
  <footer>
    <p>&copy; 2024 Book Alchemy</p>
  </footer>
</body>
</html>