<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Book Alchemy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Book Alchemy</h1>
      <h3>Homepage</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

          <!-- Navigation bar -->
      <nav>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_author') }}">Add Author</a></li>
        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
        </ul>
          </nav>

    <!-- Sorting Form -->
 <form method="get" action="/">
   <label for="sort_by">Sort by:</label>
   <select id="sort_by" name="sort_by" onchange="this.form.submit()">
      <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
      <option value="author" {% if sort_by == 'author' %}selected{% endif %}>Author</option>
   </select>
</form>

    <!-- Searching Form -->
    <form method="GET" action="/" class="search-form">
      <label for="keyword">Search Books:</label>
      <input type="text" id="keyword" name="keyword" placeholder="Enter keyword" value="{{ keyword }}">
      <button type="submit">Search</button>
    </form>
  </header>

  <main>
    <section class="book-list">
      {% if books %}
        {% for book in books %}
        <div class="book-card">
          <img src="{{ book.cover_img_url if book.cover_img_url.startswith('http')
           else url_for('static', filename=book.cover_img_url) }}"
               alt="Cover of {{ book.title }}"
               class="book-cover">
          <h3><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }}</a></h3>
          <p><strong>Author:</strong> {{ book.author.name if book.author_id else "Unknown" }}</p>
            <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST"
                  onsubmit="return confirm('Are you sure you want to delete this book?');">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <form action="{{ url_for('delete_author', author_id=book.author.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="delete-button">Delete Author</button>
            </form>
        </div>
        {% endfor %}
      {% else %}
        <p>No books found matching your search criteria.</p>
      {% endif %}
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Book Alchemy</p>
  </footer>
</body>
</html>